# Data Cleaning and Data Mining

In [1]:
# import packages
import pandas as pd
import numpy as np

In [2]:
# import two datasets
breed = pd.read_csv('Data/Row-Data/breed_labels.csv')
color = pd.read_csv('Data/Row-Data/color_labels.csv')
train = pd.read_csv('Data/Row-Data/train.csv')
train['DataType'] = 'train'
test = pd.read_csv('Data/Row-Data/test.csv')
test['DataType'] = 'test'
# the combine dataset for visualization purpose
df = pd.concat([train,test], sort=True)

In [3]:
df.head(3)

,AdoptionSpeed,Age,Breed1,Breed2,Color1,Color2,Color3,DataType,Description,Dewormed,...,Name,PetID,PhotoAmt,Quantity,RescuerID,State,Sterilized,Type,Vaccinated,VideoAmt
0,2.0,3,299,0,1,7,0,train,Nibble is a 3+ month old ball of cuteness. He ...,2,...,Nibble,86e1089a3,1.0,1,8480853f516546f6cf33aa88cd76c379,41326,2,2,2,0
1,0.0,1,265,0,1,2,0,train,I just found it alone yesterday near my apartm...,3,...,No Name Yet,6296e909a,2.0,1,3082c7125d8fb66f7dd4bff4192c8b14,41401,3,2,3,0
2,3.0,1,307,0,2,7,0,train,Their pregnant mother was dumped by her irresp...,1,...,Brisco,3422e4906,7.0,1,fa90fa5b1ee11c86938398b60abc32cb,41326,2,1,1,0

In [4]:
# Change the Color to Strings based on color_labels

# train:
train[['Color1','Color2','Color3']] = train[['Color1','Color2','Color3']].replace([1,2,3,4,5,6,7],
                            ['Black','Brown','Golden','Yellow','Cream','Gray','White'])
train[['Color1','Color2','Color3']] = train[['Color1','Color2','Color3']].replace(0,'none')

# test:
test[['Color1','Color2','Color3']] = test[['Color1','Color2','Color3']].replace([1,2,3,4,5,6,7],
                            ['Black','Brown','Golden','Yellow','Cream','Gray','White'])
test[['Color1','Color2','Color3']] = test[['Color1','Color2','Color3']].replace(0,'none')

# df:
df[['Color1','Color2','Color3']] = df[['Color1','Color2','Color3']].replace([1,2,3,4,5,6,7],
                            ['Black','Brown','Golden','Yellow','Cream','Gray','White'])
df[['Color1','Color2','Color3']] = df[['Color1','Color2','Color3']].replace(0,'none')

In [5]:
# Change the top 5 dog/cat breeds to names

# train:
train[['Breed1','Breed2']] = train[['Breed1','Breed2']].replace([307,179,205,109,20],
                                                         ['Mixed breeds','Poddle','Shih Tzu',
                                                          'Golden Retriever','Ibizan Hound'])


train[['Breed1','Breed2']] = train[['Breed1','Breed2']].replace([266,265,264,299,292],
                                                         ['Domestic short hair','Domestic medium hair',
                                                          'Domestic long hair','Tabby','Siamese'])

# test:
test[['Breed1','Breed2']] = test[['Breed1','Breed2']].replace([307,179,205,109,20],
                                                         ['Mixed breeds','Poddle','Shih Tzu',
                                                          'Golden Retriever','Ibizan Hound'])


test[['Breed1','Breed2']] = test[['Breed1','Breed2']].replace([266,265,264,299,292],
                                                         ['Domestic short hair','Domestic medium hair',
                                                          'Domestic long hair','Tabby','Siamese'])

# df:
df[['Breed1','Breed2']] = df[['Breed1','Breed2']].replace([307,179,205,109,20],
                                                         ['Mixed breeds','Poddle','Shih Tzu',
                                                          'Golden Retriever','Ibizan Hound'])


df[['Breed1','Breed2']] = df[['Breed1','Breed2']].replace([266,265,264,299,292],
                                                         ['Domestic short hair','Domestic medium hair',
                                                          'Domestic long hair','Tabby','Siamese'])

In [6]:
# Change the Maturity Size as the following: 
#1 = Small, 2 = Medium, 3 = Large, 4 = Extra Large, 0 = Not Sure

# train:
train[['MaturitySize']] = train[['MaturitySize']].replace([0,1,2,3,4],
                            ['Not Sure','Small','Medium','Large','Extra Large'])

#test:
test[['MaturitySize']] = test[['MaturitySize']].replace([0,1,2,3,4],
                            ['Not Sure','Small','Medium','Large','Extra Large'])

#df:
df[['MaturitySize']] = df[['MaturitySize']].replace([0,1,2,3,4],
                            ['Not Sure','Small','Medium','Large','Extra Large'])

In [7]:
# Change the Fur Length as the following: 
# 1 = Short, 2 = Medium, 3 = Long, 0 = Not Sure

# train:
train[['FurLength']] = train[['FurLength']].replace([0,1,2,3],['Not Sure','Short','Medium','Long'])

# test:
test[['FurLength']] = test[['FurLength']].replace([0,1,2,3],['Not Sure','Short','Medium','Long'])

# df:
df[['FurLength']] = df[['FurLength']].replace([0,1,2,3],['Not Sure','Short','Medium','Long'])

In [8]:
# Change the vacinated, Dewormed, Sterilized as the following:
#vaccinated (1 = Yes, 2 = No, 3 = Not Sure)
#Dewormed - Pet has been dewormed (1 = Yes, 2 = No, 3 = Not Sure)
#Sterilized - Pet has been spayed / neutered (1 = Yes, 2 = No, 3 = Not Sure)

# train:
train[['Vaccinated']] = train[['Vaccinated']].replace([1,2,3],['Yes','No','Not Sure'])
train[['Dewormed']] = train[['Dewormed']].replace([1,2,3],['Yes','No','Not Sure'])
train[['Sterilized']] = train[['Sterilized']].replace([1,2,3],['Yes','No','Not Sure'])

# test:
test[['Vaccinated']] = test[['Vaccinated']].replace([1,2,3],['Yes','No','Not Sure'])
test[['Dewormed']] = test[['Dewormed']].replace([1,2,3],['Yes','No','Not Sure'])
test[['Sterilized']] = test[['Sterilized']].replace([1,2,3],['Yes','No','Not Sure'])

# df:
df[['Vaccinated']] = df[['Vaccinated']].replace([1,2,3],['Yes','No','Not Sure'])
df[['Dewormed']] = df[['Dewormed']].replace([1,2,3],['Yes','No','Not Sure'])
df[['Sterilized']] = df[['Sterilized']].replace([1,2,3],['Yes','No','Not Sure'])

In [9]:
# Change the health as the following:
#1 = Healthy, 2 = Minor Injury, 3 = Serious Injury, 0 = Not Sure

# train:
train[['Health']] = train[['Health']].replace([0,1,2,3],['Not Sure','Healthy','Minor Injury','Serious Injury'])

# test:
test[['Health']] = test[['Health']].replace([0,1,2,3],['Not Sure','Healthy','Minor Injury','Serious Injury'])

# df:
df[['Health']] = df[['Health']].replace([0,1,2,3],['Not Sure','Healthy','Minor Injury','Serious Injury'])

In [10]:
# Change the DataType: 1 = Dog, 2 = Cat

# train:
train[['Type']] = train[['Type']].replace([1,2],['Dog','Cat'])

# test:
test[['Type']] = test[['Type']].replace([1,2],['Dog','Cat'])

# df:
df[['Type']] = df[['Type']].replace([1,2],['Dog','Cat'])

In [11]:
# Change the Gender: 1 = Male, 2 = Female, 3 = Neutered/Sprayed

# train:
train[['Gender']] = train[['Gender']].replace([1,2,3],['Male','Female','Neutered/Sprayed'])

# test:
test[['Gender']] = test[['Gender']].replace([1,2,3],['Male','Female','Neutered/Sprayed'])

# df:
df[['Gender']] = df[['Gender']].replace([1,2,3],['Male','Female','Neutered/Sprayed'])

In [12]:
# clean name column: 
# no name yet -> No name;
# Nan -> No name;

# train:
train['Name'] = train['Name'].replace('No Name Yet','No name')
train['Name'] = train['Name'].fillna('No name')

# test:
test['Name'] = test['Name'].replace('No Name Yet','No name')
test['Name'] = test['Name'].fillna('No name')

# df:
df['Name'] = df['Name'].replace('No Name Yet','No name')
df['Name'] = df['Name'].fillna('No name')

In [13]:
# Drop unuseful columns and drop the AdoptionSpeed = null rows

#train: 
train_null = np.array(train[train['AdoptionSpeed'].isnull() == True].index)
train = train.drop(train_null)
train = train.drop(['PhotoAmt','RescuerID','State','VideoAmt'], axis = 1)

#test:
test = test.drop(['PhotoAmt','RescuerID','State','VideoAmt'], axis = 1)

# df:
df_nan = np.array(train[train['AdoptionSpeed'].isnull() == True].index)
df = df.drop(df_nan)
df = df.drop(['PhotoAmt','RescuerID','State','VideoAmt'], axis = 1)

In [14]:
# save cleaned dataset as csv files:

#train:
train.to_csv('Data/cleaned-train.csv')

#test:
test.to_csv('Data/cleaned-test.csv')

#df:
df.to_csv('Data/cleaned-data.csv')

In [15]:
train.head(5)

,Type,Name,Age,Breed1,Breed2,Gender,Color1,Color2,Color3,MaturitySize,...,Vaccinated,Dewormed,Sterilized,Health,Quantity,Fee,Description,PetID,AdoptionSpeed,DataType
0,Cat,Nibble,3,Tabby,0,Male,Black,White,none,Small,...,No,No,No,Healthy,1,100,Nibble is a 3+ month old ball of cuteness. He ...,86e1089a3,2,train
1,Cat,No name,1,Domestic medium hair,0,Male,Black,Brown,none,Medium,...,Not Sure,Not Sure,Not Sure,Healthy,1,0,I just found it alone yesterday near my apartm...,6296e909a,0,train
2,Dog,Brisco,1,Mixed breeds,0,Male,Brown,White,none,Medium,...,Yes,Yes,No,Healthy,1,0,Their pregnant mother was dumped by her irresp...,3422e4906,3,train
3,Dog,Miko,4,Mixed breeds,0,Female,Black,Brown,none,Medium,...,Yes,Yes,No,Healthy,1,150,"Good guard dog, very alert, active, obedience ...",5842f1ff5,2,train
4,Dog,Hunter,1,Mixed breeds,0,Male,Black,none,none,Medium,...,No,No,No,Healthy,1,0,This handsome yet cute boy is up for adoption....,850a43f90,2,train

In [ ]:
train.isnull().any()